/** Base color palette **/
/** Dim color palette **/
/** Links palette **/
/** Success, danger, info and warning colors **/
@font-face {
  font-family: "Glober thin";
  src: url("../fonts/Glober Thin Free.ttf") format("truetype");
}
@font-face {
  font-family: "Orkney Regular";
  src: url("../fonts/Orkney Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Orkney Light";
  src: url("../fonts/Orkney Light.ttf") format("truetype");
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-Light.woff2") format("woff2"), url("../fonts/fira/FiraCode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-Regular.woff2") format("woff2"), url("../fonts/fira/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-Medium.woff2") format("woff2"), url("../fonts/fira/FiraCode-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-SemiBold.woff2") format("woff2"), url("../fonts/fira/FiraCode-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: url("../fonts/fira2/FiraCode-Bold.woff2") format("woff2"), url("../fonts/fira/FiraCode-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code VF";
  src: url("../fonts/fira2/FiraCode-VF.woff2") format("woff2-variations"), url("../fonts/fira/FiraCode-VF.woff") format("woff-variations");
  /* font-weight requires a range: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Fonts/Variable_Fonts_Guide#Using_a_variable_font_font-face_changes */
  font-weight: 300 700;
  font-style: normal;
}
@font-face {
  font-family: "Monserrat Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Monserrat Extralight";
  src: url("../fonts/Montserrat-ExtraLight.ttf") format("truetype");
}
/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------
							CUSTOM CSS BUTONS
---------------------------------------------------------------------------------------- */
.btn {
  border-radius: 5px;
}
.btn i {
  font-size: 1rem;
}

.btn-primary {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  border-color: rgb(255, 255, 255);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary:focus {
  background-color: rgb(81, 81, 81);
  border-color: rgb(255, 255, 255);
}
.btn-primary:hover:focus, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary:focus:focus {
  background-color: rgb(81, 81, 81);
  border-color: rgb(255, 255, 255);
}

.open > .dropdown-toggle.btn-primary {
  background-color: rgb(81, 81, 81);
  border-color: rgb(255, 255, 255);
}
.open > .dropdown-toggle.btn-primary:focus {
  background-color: rgb(81, 81, 81);
  border-color: rgb(255, 255, 255);
}

.btn-secondary {
  color: rgb(241, 141, 25);
  background-color: rgb(51, 51, 51);
  border-color: rgb(241, 141, 25);
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(241, 141, 25, 0.7);
}
.btn-secondary:hover:focus, .btn-secondary:active:focus, .btn-secondary.active:focus, .btn-secondary:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(241, 141, 25, 0.7);
}

.open > .dropdown-toggle.btn-secondary {
  color: rgb(255, 255, 255);
  background-color: rgba(241, 141, 25, 0.7);
}
.open > .dropdown-toggle.btn-secondary:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(241, 141, 25, 0.7);
}

.btn-third {
  color: rgb(156, 181, 101);
  background-color: rgb(51, 51, 51);
  border-color: rgb(156, 181, 101);
}
.btn-third:hover, .btn-third:active, .btn-third.active, .btn-third:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(156, 181, 101, 0.5);
}
.btn-third:hover:focus, .btn-third:active:focus, .btn-third.active:focus, .btn-third:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(156, 181, 101, 0.5);
}

.open > .dropdown-toggle.btn-third {
  color: rgb(255, 255, 255);
  background-color: rgba(156, 181, 101, 0.5);
}
.open > .dropdown-toggle.btn-third:focus {
  color: rgb(255, 255, 255);
  background-color: rgba(156, 181, 101, 0.5);
}

.btn-primary-outline {
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
  border-color: rgb(51, 51, 51);
}
.btn-primary-outline:hover, .btn-primary-outline:active, .btn-primary-outline.active, .btn-primary-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(81, 81, 81);
}
.btn-primary-outline:hover:focus, .btn-primary-outline:active:focus, .btn-primary-outline.active:focus, .btn-primary-outline:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(81, 81, 81);
}

.open > .dropdown-toggle.btn-primary-outline {
  color: rgb(255, 255, 255);
  background-color: rgb(81, 81, 81);
}
.open > .dropdown-toggle.btn-primary-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(81, 81, 81);
}

.btn-secondary-outline {
  color: rgb(241, 141, 25);
  background-color: rgb(255, 255, 255);
  border-color: rgb(241, 141, 25);
}
.btn-secondary-outline:hover, .btn-secondary-outline:active, .btn-secondary-outline.active, .btn-secondary-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(241, 141, 25);
}
.btn-secondary-outline:hover:focus, .btn-secondary-outline:active:focus, .btn-secondary-outline.active:focus, .btn-secondary-outline:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(241, 141, 25);
}

.open > .dropdown-toggle.btn-secondary-outline {
  color: rgb(255, 255, 255);
  background-color: rgb(241, 141, 25);
}
.open > .dropdown-toggle.btn-secondary-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(241, 141, 25);
}

.btn-third-outline {
  color: rgb(156, 181, 101);
  background-color: rgb(255, 255, 255);
  border-color: rgb(156, 181, 101);
}
.btn-third-outline:hover, .btn-third-outline:active, .btn-third-outline.active, .btn-third-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 181, 101);
}
.btn-third-outline:hover:focus, .btn-third-outline:active:focus, .btn-third-outline.active:focus, .btn-third-outline:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 181, 101);
}
.btn-third-outline-inverted {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 181, 101);
  border-color: rgb(255, 255, 255);
}

.open > .dropdown-toggle.btn-third-outline {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 181, 101);
}
.open > .dropdown-toggle.btn-third-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 181, 101);
}

.btn-success-outline {
  color: rgb(156, 181, 101);
  background-color: rgb(51, 51, 51);
  border-color: rgb(156, 181, 101);
}
.btn-success-outline:hover, .btn-success-outline:active, .btn-success-outline.active, .btn-success-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 181, 101);
}
.btn-success-outline:hover:focus, .btn-success-outline:active:focus, .btn-success-outline.active:focus, .btn-success-outline:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 181, 101);
}
.btn-success-outline-inverted {
  color: rgb(255, 255, 255);
  background-color: rgb(156, 181, 101);
  border-color: rgb(255, 255, 255);
}

.btn-danger-outline {
  color: rgb(249, 128, 112);
  background-color: rgb(255, 255, 255);
  border-color: rgb(249, 128, 112);
}
.btn-danger-outline:hover, .btn-danger-outline:active, .btn-danger-outline.active, .btn-danger-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(249, 128, 112);
}
.btn-danger-outline:hover:focus, .btn-danger-outline:active:focus, .btn-danger-outline.active:focus, .btn-danger-outline:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(249, 128, 112);
}
.btn-danger-outline-inverted {
  color: rgb(249, 128, 112);
  background-color: rgb(51, 51, 51);
  border-color: rgb(249, 128, 112);
}

.btn-main {
  color: rgb(241, 141, 25);
  background-color: rgb(255, 255, 255);
  border-color: rgb(241, 141, 25);
}
.btn-main:hover, .btn-main:active, .btn-main.active, .btn-main:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(175, 139, 87);
}
.btn-main:hover:focus, .btn-main:active:focus, .btn-main.active:focus, .btn-main:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(175, 139, 87);
}
.btn-main-inverted {
  color: rgb(255, 255, 255);
  background-color: rgb(51, 51, 51);
  border-color: rgb(241, 141, 25);
}

.btn-main-outline {
  color: rgb(175, 139, 87);
  background-color: rgb(255, 255, 255);
  border-color: rgb(175, 139, 87);
}
.btn-main-outline:hover, .btn-main-outline:active, .btn-main-outline.active, .btn-main-outline:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(175, 139, 87);
}
.btn-main-outline:hover:focus, .btn-main-outline:active:focus, .btn-main-outline.active:focus, .btn-main-outline:focus:focus {
  color: rgb(255, 255, 255);
  background-color: rgb(175, 139, 87);
}
.btn-main-outline-inverted {
  color: rgb(255, 255, 255);
  background-color: rgb(175, 139, 87);
  border-color: rgb(255, 255, 255);
}

.btn-group > .btn-fixed {
  border-right-width: 2px;
}

/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------
							BASIC CSS
---------------------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}

body.blank {
  display: flex;
  padding: 40px 0;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

body.blank .wrap {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: -40px auto;
  padding: 15px;
}

body.blank .wrap > div {
  width: 100%;
}

.wrap > .container {
  padding: 70px 15px 20px;
}

.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.not-set {
  color: #c55;
  font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Glyphicons Halflings", ui-monospace;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}

a.asc:after {
  content: "\e151";
}

a.desc:after {
  content: "\e152";
}

.sort-numerical a.asc:after {
  content: "\e153";
}

.sort-numerical a.desc:after {
  content: "\e154";
}

.sort-ordinal a.asc:after {
  content: "\e155";
}

.sort-ordinal a.desc:after {
  content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding: 15px;
  border: none;
}

@media (max-width: 767px) {
  .nav li > form > button.logout {
    display: block;
    text-align: left;
    width: 100%;
    padding: 10px 15px;
  }
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
}

.nav > li > form > button.logout:focus {
  outline: none;
}

/* ----------------------------------------------------------------------------------------
							CUSTOM NICKGOODWIND CSS
---------------------------------------------------------------------------------------- */
.aligned-text-center, .pull-center {
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.transparent {
  background-color: transparent;
  z-index: 1;
}

.colored {
  color: rgb(241, 141, 25);
}

.round {
  overflow: hidden;
  border-radius: 5px;
}

.title {
  padding-bottom: 1em;
}

.pages-container, .footer, .form-basic, .flexy-col, .flexy-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flexy-row > .first-element {
  margin-left: 20px;
}
.flexy-row.row {
  margin-left: -15px;
  margin-right: -15px;
}

.pages-container, .footer, .form-basic, .flexy-col {
  flex-direction: column;
  align-items: center;
}

.flexy-col > .first-element {
  margin-top: 20px;
}

.flexy-row.between, .flexy-col.between {
  justify-content: space-between;
}
.flexy-row.evenly, .flexy-col.evenly {
  justify-content: space-evenly;
}
.flexy-row.start, .flexy-col.start {
  justify-content: flex-start;
  align-items: flex-start;
}
.flexy-row.end, .flexy-col.end {
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-field:nth-child(n) {
  padding: 0;
  padding-right: 15px;
}
.flex-field:last-child {
  padding-right: 15px;
}
.flex-field:only-child {
  padding-left: 0;
  padding-right: 0;
}
.flex-field.start {
  justify-self: flex-start;
}
.flex-field.center {
  justify-self: center;
}
.flex-field.end {
  justify-self: flex-end;
}
.flex-field.line {
  display: flex;
  flex-grow: 1;
  margin: 0;
}
.flex-field.break {
  flex-basis: 100%;
  height: 0;
}

.box-wrapper {
  display: grid;
  gap: 0;
}

.form-basic {
  margin: 0 4em;
}

.form-buttons {
  margin-top: 1em;
}

.footer {
  z-index: 1000;
  width: 100%;
  height: 50px;
  border-top: none;
  background-color: rgb(51, 51, 51);
  color: rgb(175, 139, 87);
  font-family: "Glober thin", ui-monospace;
  font-weight: bold;
}
.footer .container {
  position: relative;
}
.footer .container .legal-notice {
  align-self: baseline;
  position: absolute;
  left: 2em;
}
.footer .container .legal-notice a {
  color: rgb(175, 139, 87);
}

/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------
							PROJECT'S HOMEPAGE CUSTOM CSS
---------------------------------------------------------------------------------------- */
#loading {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.site-home {
  display: none;
  background-color: rgb(51, 51, 51);
  width: 100%;
  height: 100%;
}
.site-home .bg-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.site-home .bg {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center center;
  transform: translateZ(0);
  will-change: transform;
}

.intro {
  display: flex;
  background-color: rgb(51, 51, 51);
  clip: rect(0, auto, auto, 0);
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  text-align: center;
  color: #f8f8f8;
}
.intro .bg-wrap {
  height: 100vh;
}
.intro .bg {
  height: 100vh;
}
.intro .logo {
  z-index: 1;
  background-position: center;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 350px;
  background-color: rgba(255, 255, 255, 0);
  height: 350px;
  width: 350px;
}
.intro .logo:hover {
  cursor: pointer;
}

.site-home .presentation {
  position: relative;
  background-color: white;
  color: rgb(51, 51, 51);
  margin-bottom: 0;
  padding-bottom: 5em;
}
.site-home .presentation h1 {
  font-family: "Fira Code", ui-monospace;
  font-weight: 100;
}
.site-home .presentation .lead {
  width: 70%;
  margin-top: 2em;
}
.site-home .presentation #btn-main {
  position: relative;
  align-self: flex-end;
}
.site-home .presentation .icn {
  position: absolute;
  top: 70%;
  left: 4%;
  display: block;
  width: 140px;
  height: 140px;
  background: url("../images/icon2.png") no-repeat;
  background-size: 100%;
  transform: rotate(13deg);
}

.transition {
  background-color: white;
  width: 100%;
  height: 300px;
}

.p_s {
  background-color: white;
  margin-bottom: 0;
  padding-top: 4em;
  font-size: 22px;
  color: rgb(51, 51, 51);
}
.p_s .title {
  font-size: 50px;
}
.p_s > .title {
  margin-bottom: 1em;
  padding-left: 1em;
  align-self: flex-start;
}
.p_s h2 {
  padding-bottom: 1em;
  text-align: center;
}
.p_s p {
  text-align: justify;
}

.preview {
  align-items: center !important;
  position: relative;
  height: 600px;
  width: 100%;
}
.preview:first-child {
  padding-top: 2em;
}
.preview.display:nth-last-child(4n+2) {
  margin-bottom: 0;
}
.preview .data {
  width: 40%;
}

#webapp_preview.display {
  height: 500px;
  color: rgb(51, 51, 51);
}
#webapp_preview.display .image {
  background-size: 100%;
  width: 40%;
  height: 300px;
  color: white;
}

#advertising_preview.display {
  clip: rect(0, auto, auto, 0);
  width: 100%;
  color: white;
}
#advertising_preview.display .title, #advertising_preview.display .data {
  position: relative;
}

#marketing_preview .title, #marketing_preview .data {
  position: absolute;
}
#marketing_preview .title {
  top: 10%;
  left: 55%;
}
#marketing_preview .data {
  top: 30%;
  right: 5%;
}
#marketing_preview .image {
  position: relative;
  right: -4.5em;
  width: 40%;
  height: 300px;
}

.mobile {
  display: none;
}

.feats {
  position: relative;
  clip: rect(0, auto, auto, 0);
  width: 100%;
  color: white;
}
.feats .container.additional-inner {
  padding-top: 60px;
  padding-bottom: 70px;
}
.feats .container .features-title .title {
  font-size: 50px;
  padding-bottom: 0.5em;
  color: #FFFFFF;
}
.feats .container .features-title .desc {
  padding-bottom: 1em;
}
.feats .container .features-border-top {
  z-index: 1;
  border-top: 1px solid;
  margin-top: 40px;
  border-color: rgb(241, 141, 25);
}
.feats .container .features-border-top .col-md-3 {
  margin-top: -40px;
}
.feats .container .features-border-top .col-md-3 .additional-features {
  position: relative;
  color: #FFFFFF;
  line-height: 2;
  text-align: center;
}
.feats .container .features-border-top .col-md-3 .additional-features i {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #ffffff;
  background-color: rgb(241, 141, 25);
  font-size: 40px;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
}
.feats .container .features-border-top .col-md-3 .additional-features:hover > i {
  transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}
.feats .container .features-border-top .col-md-3 .additional-features .additional-content {
  padding: 15px 30px;
  margin-bottom: 30px;
}
.feats .container .features-border-top .col-md-3 .additional-features .additional-content h5 {
  padding: 0 10px 5px 0;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
}
.feats .container .features-border-top .col-md-3:after, .feats .container .features-border-top .col-md-3 .right-border:before {
  background-color: rgb(241, 141, 25);
}

.contact {
  position: relative;
  align-items: baseline;
  background-color: rgb(51, 51, 51);
  width: 100%;
  padding: 0 3em;
}
.contact .title {
  top: 2em;
  color: white;
  text-align: center;
  font-size: x-large;
}
.contact .process-icon {
  position: absolute;
  top: 9em;
  left: 4.8em;
  background: url("../images/big_icon.png") no-repeat;
  background-size: 100%;
  width: 400px;
  height: 400px;
}

.navbar {
  z-index: 100 !important;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  font-family: "Monserrat Light", ui-monospace;
  font-size: 16px;
}
.navbar#navbar.navbar-inverse {
  background-color: rgb(36, 36, 36);
}
.navbar#navbar .logo-pages {
  border-radius: 5px;
  width: 140px;
  height: 94px;
}
.navbar.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
}
.navbar .container {
  width: 100%;
}

.navbar-header {
  display: flex;
  align-items: center;
}

#nav-menu > li > a, .navbar-inverse .navbar-nav > li > a {
  color: white;
}
#nav-menu > li > a.nav-link.active, .navbar-inverse .navbar-nav > li > a.nav-link.active {
  background-color: transparent;
  color: rgb(241, 141, 25);
}
#nav-menu > li > a:hover, .navbar-inverse .navbar-nav > li > a:hover {
  color: rgb(241, 141, 25);
}

.cart {
  position: absolute;
  right: 0.8em;
  top: 2.3em;
  padding-top: 0.5em;
  padding-left: 0.4em;
  border-radius: 1em;
  background-color: rgb(241, 141, 25);
  opacity: 0.5;
  color: white;
  font-size: 20px;
  height: 2em;
  width: 2em;
}
.cart:hover {
  color: rgba(0, 0, 0, 0.4);
}
.cart .cart-items {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -0.6em;
  right: -0.6em;
  border-radius: 0.75em;
  background-color: white;
  color: black;
  font-family: "Monserrat Light", ui-monospace;
  font-size: 14px;
  width: 1.5em;
  height: 1.5em;
}

/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------
							PROJECT'S CUSTOM CSS
---------------------------------------------------------------------------------------- */
html,
body {
  background-color: rgb(51, 51, 51);
}

label {
  font-weight: normal;
}

.wrap {
  color: white;
  font-family: "Orkney Light", ui-monospace;
  font-size: 20px;
}
.wrap.pages {
  padding: inherit;
  padding-left: 50px;
  padding-right: 50px;
}
.wrap > .container {
  flex-direction: column;
  align-items: center;
  padding: 0;
  color: white;
}

.breadcrumb {
  margin-top: 25px;
  width: 50%;
}

.title {
  margin: 2% 0 2% 0;
}

.footer {
  position: fixed;
  bottom: 0;
  font-size: 16px;
}

.pages-container {
  margin: auto;
  margin-top: 2em;
  margin-bottom: 60px;
}
.pages-container .breadcrumb {
  align-self: flex-end;
  margin-bottom: 0;
  padding-right: 2em;
  text-align: right;
  background-color: transparent;
}

.page-index {
  width: 80%;
  height: 70vh;
}
.page-index #search-form {
  width: 100%;
}
.page-index #search-form #submit {
  width: 50%;
}

.page-results {
  width: 80%;
}

.page-history {
  width: 50%;
}

.page-results #container, .page-history #container {
  width: 100%;
}
.page-results #container .table-container, .page-history #container .table-container {
  width: 100%;
}
.page-results .table, .page-history .table {
  background-color: rgb(255, 255, 255);
}
.page-results .table a, .page-history .table a {
  color: rgb(175, 139, 87);
  text-decoration: none;
}
.page-results .table > :not(caption) > * > *, .page-history .table > :not(caption) > * > * {
  color: #777;
}
.page-results .btn-back, .page-history .btn-back {
  align-self: flex-end;
  margin-top: 2em;
}
.page-results .page-link, .page-history .page-link {
  color: #777;
  background-color: rgb(51, 51, 51);
  border-color: rgb(175, 139, 87);
}
.page-results .active > .page-link, .page-history .active > .page-link {
  color: #777;
  background-color: rgb(241, 141, 25);
  border-color: rgb(241, 141, 25);
}

.page-detail .btns > a {
  margin: 2em 1em;
}

/*# sourceMappingURL=site.css.map */
