/* ----------------------------------------------------------------------------------------
							REQUIRED CLAUSES
---------------------------------------------------------------------------------------- */

@use 'home' as root;
@use 'navbar';

/* ----------------------------------------------------------------------------------------
							PROJECT'S CUSTOM CSS
---------------------------------------------------------------------------------------- */

html,
body {
	background-color: root.$main-color;
}

label {
	font-weight: normal;
}

.wrap {
	color: white;
	font-family: 'Orkney Light', ui-monospace;
	font-size: 20px;
	
	&.pages {
		padding: inherit {
			left: 50px;
			right: 50px;
		}
	}

	& > .container {
		flex-direction: column;
		align-items: center;
		
		padding: 0;
		
		color: white;
	}
}

.breadcrumb {
	margin-top: 25px;
	width: 50%;
}

.title {
	margin: 2% 0 2% 0;
}

.footer {
	position: fixed;
	bottom: 0;
	font-size: 16px;
}


.pages-container {
	@extend %flexy-col;
	width: 90%;

	margin: auto {
		top: 2em;
		bottom: 60px;
	}

	& .breadcrumb {
		align-self: flex-end;

		margin-bottom: 0;
		padding-right: 2em;

		text-align: right;
		background-color: transparent;
	}
}

.site-error {
	@extend %flexy-col;
	
	height: 85vh;
}